.env
.idea/
.venv/
.vscode/
generate_env_secret.sh
generate_token.py
launch_env.sh
test.db
app/__pycache__
app/api/__pycache__
app/schemas/__pycache__
app/services/__pycache__
app/repositories/__pycache__
app/models/__pycache__
app/db/__pycache__
app/core/__pycache__